.modalVerificationLayout {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
.sectionHeader{
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}