.modalVerificationLayout {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
.sectionHeader{
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.otpSection{
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 15px;
}
.otpForm{
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 15px;
}
.otpTimer{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 6%;
}