.bannerLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}
.sectionContent{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}