.bannerLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    padding: 5px;
}
.sectionContent{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}
.transferBtn{
    background-color: #FF5F1F;
    color: #FFF;
}