.modalLayout{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px 15px;
}
.modalTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.modalContentSection{
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
}