.queueRoomListLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    .layoutAction{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        column-gap: 5px;
    }
}

.actionBtns{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.iconBtn:hover {
  cursor: pointer;
}