.dischargeLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
}
.contentSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}